.fullPageBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.postalCard {
    background-color: white;
    width: 600px;
    height: 90vh;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    margin-left: 50px;
    color: white;
    background-color: #A5836E;;
}

.postalCard-frame {
    position: relative;
    height: calc(100% - 40px);
    padding: 15px;
}

.postalCard-content {
    border: 5px solid #F3BF67;
    height: 100%;
    text-align: center;
}

.postalCard-content-one {
    font-size: 4vh;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Cinzel', serif;
}

.postalCard-content-two {
    font-size: 80px;
    margin-top: calc(40vh / 6);
    font-family: 'WindSong', cursive;
    width: 98%;
}

.postalCard-content-three {
    font-size: 3vh;
    margin-top: calc(100% / 6);
    font-family: 'Cinzel', serif;
}

.postalCard-content-four {
    font-size: 3vh;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Cinzel', serif;
}

.postalCard-content-five {
    font-size: 3vh;
    margin-top: 20px;
    font-family: 'Cinzel', serif;
}

.postalCard-content-six {
    font-weight: bold;
    margin-top: calc(100% / 6);
    font-family: 'Cinzel', serif;
}

.postalCard-content-seven {
    font-size: 2.5vh;
    position: absolute;
    bottom: 15px;
    width: calc(100% - 39px);
    font-family: 'Cinzel', serif;
}

.countdown-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.countdown-time {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Cinzel', serif;
}

.countdown-wrapper div {
    padding-left: 15px;
}

.countdown-wrapper div:first-child {
    padding-left: 0;
}

.countdown-divider {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Cinzel', serif;

    margin-bottom: 30px;
}

.invitation-picture {
    display: none;
}

@media screen and (max-height: 1000px) {
    .postalCard {
        height: 80vh;
    }

    .postalCard-content-one {
        font-size: 5vh;
        margin-top: 10px;
    }

    .postalCard-content-two {
        font-size: 9vh;
        margin-top: calc(50vh / 6);
    }

    .postalCard-content-three {
        font-size: 3vh;
        margin-top: calc(40vh / 6);
    }

    .postalCard-content-four {
        font-size: 3vh;
        margin-top: 10px;
    }

    .postalCard-content-five {
        font-size: 3vh;
        margin-top: 10px;
    }

    .postalCard-content-six {
        margin-top: calc(30vh / 6);
    }

    .postalCard-content-seven {
        font-size: 3vh;
        bottom: 10px;
    }

    .countdown-time {
        font-size: 2em;
    }

    .countdown-wrapper div {
        padding-left: 10px;
    }

    .countdown-divider {
        font-size: 2em;
    }

    .postalCard {
      width: 600px;
      height: 90vh;
  
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  
      margin-left: 50px;
  }
}

@media screen and (max-width: 1024px) {
    .fullPageBackground {
        display: none;
    }

    .invitation-picture {
        display: block;
    }

    .invitation-picture img {
        width: 100%;
        height: auto;
    }

    .postalCard {
        position: relative;
        top: 0;
        transform: translateY(0);
        width: 100%;
        margin: 0;
        height: auto;
    }

    .postalCard-frame {
        padding: 2px;
    }

    .postalCard-content-one {
      font-size: 6vh;
      margin-top: 10px;
    }

    .postalCard-content-two {
        font-size: min(14vh, 14vw);
        margin-top: calc(50vh / 6);
    }

    .postalCard-content-three {
        font-size: 4vh;
        margin-top: calc(40vh / 6);
    }

    .postalCard-content-four {
        font-size: 4vh;
        margin-top: 10px;
    }

    .postalCard-content-five {
        font-size: 4vh;
        margin-top: 10px;
    }

    .postalCard-content-six {
        font-size: 2.5vh;
        margin-top: calc(40vh / 6);
    }

    .postalCard-content-seven {
        font-size: 4vh;
        position: relative;
        margin-top: 25px;

        bottom: 0;
        width: 100%;
    }

    .countdown-time {
        font-size: 2em;
    }
}

@media screen and (max-width: 550px) {
    .postalCard-content-one {
        font-size: 8vw;
    }

    .postalCard-content-two {
        font-size: 15vw;
    }

    .postalCard-content-three {
        font-size: 5vw;
    }

    .postalCard-content-four {
        font-size: 5vw;
    }

    .postalCard-content-five {
        font-size: 5vw;
    }

    .postalCard-content-six {
        font-size: 3vw;
    }

    .postalCard-content-seven {
        font-size: 5vw;
    }
}